.features table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px;
}

th, td {
  padding: 15px;
}

caption {
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}