 .u-section-1 {
  background-image: url("images/gade126df90df0baaaf0ae3e45a70a73c96e557611a1839785d5a1a95adb4a977c4f70204de632d033abe463330c98b7a77263af85b9937d02b9cc1199c96c378_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  font-family: "Krona One";
  font-size: 1.5rem;
  text-align: start;
  margin: 96px 871px 0 17px;
}

.u-section-1 .u-table-1 {
  width: 472px;
  margin: 13px auto 59px 0;
}

.u-block-76a0-9 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 688px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}