{% extends "base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% block content %}
    <h1>{{ patient.username }}</h1>
    <table>
        {% for data in page_obj %}
            <tr>{% for inf in data %}
                    <td>{{ inf.val }}</td>
                {% endfor %}</tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}